.well-style {
	background-color:#d8ab4e;
	border-radius: 15px;
	/*padding:20px;*/
	border:5px solid #CC0000;
	opacity: 0.9;

}

header {
	text-align:center;
}


/*split name onto two lines*/
#first-name {
	list-style-type:none;
	
}

#last-name{
	clear:both;
	list-style-type:none;
}





/*styling for main game board text (placeholders + revealed letters)*/
li {
	float:left;
	font-size:30px;
	padding:0px 30px;
	text-shadow:1px 1px #CC0000;
}

#guesses {
	padding:15px;

}

#remaining {
	text-align:center;
	font-size:50px;

}

body {
	/*#d8ab4e gold */
	/*#040404 charcoal*/
	/*CC0000 red*/

	/*google font*/
	font-family: 'Bevan', sans-serif;
	
	/*background fills 100% of horizontal width, repeats vertically*/
	background: url(../images/bg2.jpg) repeat-y 0 0;
	background-size: 100%;
}


.player-image {
	max-width:100%;
}